@use "@styles/variables" as *;

.services {
	display: flex;
	flex-direction: column;
	gap: $massive;
	padding: $grand 0;

	.services-swiper {
		width: 100%; //must if parent is flex
		padding: $grand;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: $accent;
		width: 18px;
		height: 18px;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	.swiper-scrollbar {
		width: calc(100% - $grand * 2);
		left: $grand;
	}

	.service-card {
		height: 480px;
		background: $dark;
		color: $light;
		border-radius: $large;

		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			background-image: linear-gradient(transparent, $dark);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.service-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
			background-color: black;
			position: absolute;
			top: 0;
			left: 0;
		}

		.copy {
			display: flex;
			flex-direction: column;
			gap: $medium;
			height: 100%;
			padding: $large;
			position: relative;
			z-index: 100;

			.heading {
				margin-top: auto;
				h4 {
					color: $accent;
				}
				.caption {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 14px;
				}
			}

			.wave {
				width: 100px;
				height: 20px;
				object-fit: contain;
			}

			.text {
				font-size: 16px;
				line-height: 20px;
				font-weight: 300;
			}
		}
	}
}
