@use "@styles/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	gap: 100px;

	.about {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 1024px) {
			flex-direction: column;
			text-align: center;
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);

			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			gap: $massive;
			margin-top: $massive;

			@media (max-width: 1024px) {
				align-items: center;
			}
		}
	}

	.mission {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		@media (max-width: 1024px) {
			flex-direction: column;
		}

		.left {
			@media (max-width: 1024px) {
				text-align: center;
			}
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);
			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.left {
			display: flex;
			flex-direction: column;
			gap: $massive;
		}
	}
}
