@use "@styles/variables" as *;

.home {
	.mission {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		@media (max-width: 1024px) {
			flex-direction: column;
		}

		.left {
			@media (max-width: 1024px) {
				text-align: center;
			}
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);
			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.left {
			display: flex;
			flex-direction: column;
			gap: $massive;
		}
	}
}
