@use "@styles/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	gap: 100px;

	.about {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 1024px) {
			flex-direction: column;
			text-align: center;
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);

			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			gap: $massive;
			margin-top: $massive;

			@media (max-width: 1024px) {
				align-items: center;
			}
		}
	}

	.services {
		display: flex;
		flex-direction: column;
		gap: $massive;
		padding: $grand 0;

		.services-swiper {
			width: 100%; //must if parent is flex
			padding: $grand;
		}

		.swiper-button-next,
		.swiper-button-prev {
			color: $accent;
			width: 18px;
			height: 18px;

			@media (max-width: 1024px) {
				display: none;
			}
		}

		.swiper-scrollbar {
			width: calc(100% - $grand * 2);
			left: $grand;
		}

		.service-card {
			height: 480px;
			background: $dark;
			color: $light;
			border-radius: $large;

			position: relative;
			overflow: hidden;

			&::after {
				content: "";
				background-image: linear-gradient(transparent, $dark);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			.service-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 8px;
				background-color: black;
				position: absolute;
				top: 0;
				left: 0;
				// opacity: 0.6;
			}

			.copy {
				display: flex;
				flex-direction: column;
				gap: $medium;
				height: 100%;
				padding: $large;
				position: relative;
				z-index: 100;

				.heading {
					margin-top: auto;
					h4 {
						color: $accent;
					}
					.caption {
						font-weight: 700;
						text-transform: uppercase;
						font-size: 14px;
					}
				}

				.wave {
					width: 100px;
					height: 20px;
					object-fit: contain;
				}

				.text {
					font-size: 16px;
					line-height: 20px;
					font-weight: 300;
				}
			}
		}
	}

	.mission {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		@media (max-width: 1024px) {
			flex-direction: column;
		}

		.left {
			@media (max-width: 1024px) {
				text-align: center;
			}
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);
			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.left {
			display: flex;
			flex-direction: column;
			gap: $massive;
		}

		.testimonials {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.testimonials-swiper {
				width: 100%;
				height: 100%;
			}

			.swiper-button-next,
			.swiper-button-prev {
				color: $accent;
				width: 18px;
				height: 18px;

				@media (max-width: 1024px) {
					display: none;
				}
			}

			.ttt {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				min-height: 300px;
				padding: $large;
			}

			.testimonial {
				padding: $large $massive $grand $large;
				display: flex;
				gap: $large;
				background-color: $light;
				width: 420px;
				border-radius: $large;
				box-shadow: $shadow-medium;
				@media (max-width: 1024px) {
					width: 70%;
				}

				@media (max-width: 768px) {
					width: 100%;
				}

				.avatar {
					width: 64px;
					height: 64px;
					overflow: hidden;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: inherit;
					border: 1px solid $accent;

					.placeholder {
						width: 42px;
						height: 42px;
						mix-blend-mode: multiply;
					}
					.pic {
						width: 100%;
						filter: grayscale(1) brightness(1.2);
					}
				}

				.content {
					width: calc(100% - 64px - $medium);
					display: flex;
					flex-direction: column;
					gap: $large;

					.person {
						display: flex;
						flex-direction: column;
						padding-top: $medium;
						.author {
							font-size: 18px;
						}

						.company {
							opacity: 0.4;
						}
					}

					.quote {
						font-style: italic;
					}
				}
			}
		}
	}
}

.features {
	display: flex;
	flex-direction: column;
	gap: $massive;

	.features-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: $large;
		align-items: center;
		justify-content: center;

		.feature {
			width: calc(100% / 3 - $large);
			display: flex;
			flex-direction: column;
			gap: $large;
			align-items: center;
			padding: $large;
			text-align: center;
			@media (max-width: 768px) {
				width: 100%;
			}

			.caption {
				text-transform: uppercase;
				font-weight: 700;
				opacity: 0.4;
				font-size: 14px;
			}

			img {
				mix-blend-mode: multiply;
				width: 100px;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: $small;
				text-align: center;

				li {
					font-size: 16px;
					line-height: 24px;
					font-weight: 400;
				}
			}
		}
	}
}
