@use "@styles/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	gap: 100px;

	.about {
		display: flex;
		flex-direction: row;
		gap: $massive;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 1024px) {
			flex-direction: column;
			text-align: center;
		}

		.left,
		.right {
			width: calc(50% - $massive / 2);

			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			gap: $massive;
			margin-top: $massive;

			@media (max-width: 1024px) {
				align-items: center;
			}
		}
	}

	.services {
		display: flex;
		flex-direction: column;
		gap: $massive;
		padding: $grand 0;

		.services-swiper {
			width: 100%; //must if parent is flex
			padding: $grand;
		}

		.swiper-button-next,
		.swiper-button-prev {
			color: $accent;
			width: 18px;
			height: 18px;

			@media (max-width: 1024px) {
				display: none;
			}
		}

		.swiper-scrollbar {
			width: calc(100% - $grand * 2);
			left: $grand;
		}

		.service-card {
			height: 480px;
			padding: $large;

			background: $dark;
			color: $light;
			border-radius: $large;

			display: flex;
			flex-direction: column;
			gap: $large;
			// justify-content: space-around;

			.service-image {
				width: 100%;
				height: 160px;
				object-fit: cover;
				border-radius: 8px;
				background-color: black;
			}

			.heading {
				h4 {
					color: $accent;
				}
				.caption {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 14px;
				}
			}

			.wave {
				width: 100px;
				height: 20px;
				object-fit: contain;
			}

			p {
				font-size: 16px;
				line-height: 20px;
				font-weight: 300;
			}

			.button {
				margin-top: auto;
			}
		}
	}
}
