@use "@styles/variables" as *;

.top-bar-container {
	background-color: $bg;
	width: 100%;
	// height: 30px;
	padding: $medium $large;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;

	.logo {
		span {
			font-family: $heading;
			font-weight: 700;
			color: black;
			font-size: 20px;
			text-transform: uppercase;

			&.pure {
				color: $accent;
			}
		}
	}
}

//NAV

.navigation {
	display: flex;
	flex-direction: row;
	gap: $large;

	span {
		font-family: $heading;
		font-weight: 700;
		color: fuchsia;
	}

	a {
		font-family: $heading !important;
		font-weight: 500;
	}
}
