@use "@styles/variables" as *;

.hero-slide {
	height: 80vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.swiper-button-next,
.swiper-button-prev {
	color: white; // nav arrows
}

.swiper-pagination-bullet {
	background: white;
}

//////

.hero {
	height: 80vh;
	width: 100vw;
	background-color: $dark;
	position: relative;
	padding: $massive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.wave-cut {
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 20;
	}
	.hero-copy {
		position: relative;
		z-index: 10;
		text-align: center;

		h1 {
			color: $accent;
			text-shadow: $shadow-large;
			animation: blurIn 0.8s ease forwards;
		}
	}

	.hero-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		// opacity: 0.9;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
}

@keyframes blurIn {
	0% {
		filter: blur(100px);
		transform: scaleY(20);
	}

	100% {
		filter: blur(0px);
		transform: scaleY(1);
	}
}
