@use "@styles/variables" as *;

.hero-slide {
	height: 80vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.swiper-button-next,
.swiper-button-prev {
	color: white; // nav arrows
}

.swiper-pagination-bullet {
	background: white;
}

//////

.hero {
	height: 80vh;
	width: 100vw;
	background-color: black;
	position: relative;
	padding: $massive;
	display: flex;
	justify-content: center;
	align-items: center;

	.hero-copy {
		position: relative;
		z-index: 10;
		text-align: center;

		h1 {
			// font-size: 5rem;
			color: $accent;
			text-shadow: $shadow-large;
		}
	}

	.hero-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url("../../assets/jakub-zerdzicki-YEbgNaIHn9Q-unsplash.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 120%;
		background-attachment: fixed;
		z-index: 0;
	}
}
