@use "./_reset" as *;
@use "@styles/variables" as *;

.app {
	width: 100vw;
	height: 400vh;
}

*,
p,
span,
a,
.body {
	font-family: $body;
}

h1,
h2,
h3,
h4,
.heading {
	font-family: $heading;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.5rem;
}
