@use "./_reset" as *;
@use "@styles/variables" as *;

//Layout
.app {
	width: 100vw;
	background-color: $bg;
	color: $dark;
}

.contained {
	width: 1240px;
	margin: 0 auto;
	padding: $grand;

	@media (max-width: 1240px) {
		width: 100%;
	}
}

//Typography

*,
p,
span,
a,
li,
.body {
	font-family: $body;
	font-size: 1rem;
}

p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
.heading {
	font-family: $heading;
}

h1 {
	font-size: 3.6rem;
	line-height: 3.6rem;
}

h2 {
	font-size: 2.5rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 2rem;
	line-height: 2rem;
}

h4 {
	font-size: 1.4rem;
	line-height: 1.4rem;
}
