* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: none;
	box-sizing: border-box !important;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	border-spacing: 0;
	color: inherit;
	-webkit-font-smoothing: antialiased;
}
