@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// UNITS
$base: 4px;

$micro: $base; //4
$small: $base * 2; //8
$medium: $base * 3; //12
$large: $base * 4; //16
$grand: $base * 6; //24
$massive: $base * 8; //32

// COLORS
$bg: #e9e3d5;
$light: #f1faee;
$dark: #033043;
$accent: #e6618c;

//TYPOGRAPHY

$body: "Roboto", sans-serif;
$heading: "Montserrat", sans-serif;

// SHADOWS
$shadow-small: 0 2px 8px rgba(0, 0, 0, 0.2);
$shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.2);
$shadow-large: 0 8px 24px rgba(0, 0, 0, 0.2);

$halo-small: 0 0 8px rgba(230, 97, 140, 0.8);
$halo-medium: 0 4px 20px rgba(230, 97, 140, 0.8);
$halo-large: 0 8px 24px rgba(230, 97, 140, 0.8);
