@use "@styles/variables" as *;

.heading-container {
	display: flex;
	flex-direction: column;
	gap: $small;

	&.centered {
		align-items: center;
		text-align: center;
	}

	@media (max-width: 1024px) {
		align-items: center;
		text-align: center;
	}

	.eyebrow {
		text-transform: uppercase;
		font-weight: 700;
		opacity: 0.4;
		font-size: 14px;
	}

	.wave {
		width: 100px;
	}

	h1,
	h2 {
		color: $dark;
		&.accent {
			color: $accent;
		}
	}
}

.about {
	display: flex;
	flex-direction: row;
	gap: $massive;
	flex-wrap: wrap;
	align-items: center;

	@media (max-width: 1024px) {
		flex-direction: column;
		text-align: center;
	}

	.left,
	.right {
		width: calc(50% - $massive / 2);

		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		gap: $massive;
		margin-top: $massive;

		@media (max-width: 1024px) {
			align-items: center;
		}
	}
}

.button {
	background-color: $accent;
	padding: $small $large;
	border-radius: 20px;
	color: $light;
	box-shadow: $shadow-small;
	width: max-content;
	transition: all 0.4s ease-in-out;

	&:hover {
		box-shadow: $halo-large;
		transform: translateY(-2px);
		background-color: #f3759d;
	}
}
