@use "@styles/variables" as *;

.testimonials {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.testimonials-swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: $accent;
		width: 18px;
		height: 18px;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	.ttt {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		min-height: 300px;
		padding: $large;
	}

	.testimonial {
		padding: $large $massive $grand $large;
		display: flex;
		gap: $large;
		background-color: $light;
		width: 420px;
		border-radius: $large;
		box-shadow: $shadow-medium;
		@media (max-width: 1024px) {
			width: 70%;
		}

		@media (max-width: 768px) {
			width: 100%;
		}

		.avatar {
			width: 64px;
			height: 64px;
			overflow: hidden;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: inherit;
			border: 1px solid $accent;

			.placeholder {
				width: 42px;
				height: 42px;
				mix-blend-mode: multiply;
			}
			.pic {
				width: 100%;
				filter: grayscale(1) brightness(1.2);
			}
		}

		.content {
			width: calc(100% - 64px - $medium);
			display: flex;
			flex-direction: column;
			gap: $large;

			.person {
				display: flex;
				flex-direction: column;
				padding-top: $medium;
				.author {
					font-size: 18px;
				}

				.company {
					opacity: 0.4;
				}
			}

			.quote {
				font-style: italic;
			}
		}
	}
}
